<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="form-section">
            <div>        
                <img src="/assets/img/logo.jpg" alt="">
                <h2> Faça seu Cadastro </h2>
                <form action="">
                    <label for="">CPF</label>
                    <input type="text" name="cpf" placeholder="apenas números" pattern="\d*" maxlength="11">
                    <label for="">Nome</label>
                    <input type="text" name="nome" placeholder="Digite seu nome" required pattern="[a-zA-Z0-9]+">
                    <label for="">Email</label>
                    <input type="text" placeholder="Email" name="email">
                    
                </form>
            </div>

        </section>
        <section class="main-section">
            <h1>SkyJet Airlines</h1>
        </section>
    </main>
</body>
</html>

